
h1, p
{
    color: #e2e2e2;
    font-family: Arial, Helvetica, sans-serif;
}

p
{
    line-height: 1.4;
}

a
{
    color: #440000;
    font-weight: bold;
}

/* пространство экрана */
.wrapper
{
    position: relative;
    margin: 0;
    width: 970px;
    height: 550px;
    background: #000;
}

/* пространство показа видео */
.showing-picture video
{
    position: absolute;
    top: 0;
    left: 0;
    width: 960px;
    height: 540px;
    padding: 5px;
    z-index: 1;
}

/* пространство визуализации ссылок */
.showing-links canvas
{
    position: absolute;
    top: 0;
    left: 0;
    border: 5px solid #000;
    width: 960px;
    height: 540px;
    z-index: 2;
}

/* пространство реагирования ссылок */
.placement-of-links img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 960px;
    height: 540px;
    padding: 5px;
    z-index: 3;
}

/* плейер*/
.container
{
    display: grid;
    justify-items: center;
    background: #2d51c7;
}

.controls
{
    margin-top: 20px;
    width: 970px;
    background: #a01c1c;
    height: 26px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

progress 
{
    width: 85%;
    height: 14px;
    padding: 0;
    margin: 0;
}

.buttons
{
    width: 970px;
    height: 25px;
    margin-top: 10px;
    background: #a01c1c;
    color: #ffffff;
}

.button
{
    float: left;
    width: 120px;
    height: 24px;
    padding: 0;
    margin: 0 2px;
    background: #a01c1c;
    color: #ffffff;
}

.clear-block
{
    clear: both;
}

.comments
{
    width: 970px;
}
