/* 
 * Корректировка страницы для экранов больших размеров.
 * Точка включения этих настроек 1025px и больше.
 */

/* Общее для всех страниц */
:root
{
    --main-w: 10.24px;
    font-size: 1rem;
}
.symmetry
{
    width: 1024px;
    margin: 0 auto;
}

/* Меню в шапке сайта */
.menu
{
    margin-top: calc(var(--main-w) * 1.4);
}

/* Рекламный баннер */
.banner_text button span
{
    font-size: 1.6em;
}